* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #53269d, #6d31d0);
}
.header-container .burger-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.header-container .burger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
}
.header-container .nav-bar ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.header-container .nav-bar ul a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.header-container button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #fefc9e, #fdbfa3 79%);
  color: #6d31d0;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
}
.header-container .burger-toggle {
  display: none;
}

.banner {
  width: 100%;
  background-image: url(../imges/picture_home1.svg);
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 40px;
  gap: 30px;
}
.banner .services {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  display: flex;
  gap: 20px;
}
.banner .services h3 {
  padding: 5px;
  background-color: rgba(110, 49, 208, 0.5529411765);
  border-radius: 20px;
}
.banner .banner-text {
  width: 50%;
}
.banner .banner-text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  padding-bottom: 10px;
}
.banner .banner-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  padding-bottom: 10px;
}
.banner .banner-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}
.banner button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #fefc9e, #fdbfa3 79%);
  color: #6d31d0;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
}
.banner h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
}
.banner .cities-img {
  display: flex;
  gap: 20px;
}
.banner .cities-img .card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.banner .cities-img .card h3 {
  color: #6d31d0;
}

.our-services {
  background: linear-gradient(to top, #828cde, #6d31d0);
  padding: 20px 110px;
}
.our-services h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 20px;
}
.our-services .main-cards {
  display: flex;
  gap: 20px;
}
.our-services .main-cards .relocation-card {
  padding: 20px;
  color: #434364;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.our-services .main-cards .relocation-card img {
  width: 100%;
}
.our-services .main-cards .relocation-card h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  padding: 10px;
}
.our-services .main-cards .relocation-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 10px;
}
.our-services .main-cards .relocation-card button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #fefc9e, #fdbfa3 79%);
  color: #6d31d0;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(109, 47, 208, 0.1), rgba(109, 49, 208, 0.21) 29%, rgba(109, 49, 208, 0.47) 53%, #6d31d0);
  padding: 20px;
  gap: 20px;
}
.contacts-form h2 {
  color: #434364;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.contacts-form a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  color: #6d31d0;
}
.contacts-form .form {
  width: 80%;
  background-color: rgba(219, 166, 142, 0.6823529412);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  gap: 20px;
  padding: 20px;
}
.contacts-form .form h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #434364;
}
.contacts-form .form .form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}
.contacts-form .form .form-container #name {
  grid-column: 1;
  grid-row: 1;
}
.contacts-form .form .form-container #email {
  grid-column: 2;
  grid-row: 1;
}
.contacts-form .form .form-container #subject {
  grid-column: 1;
  grid-row: 2;
}
.contacts-form .form .form-container #phone {
  grid-column: 2;
  grid-row: 2;
}
.contacts-form .form .form-container #message {
  grid-column: 1/-1;
  grid-row: 3;
}
.contacts-form .form .form-container input,
.contacts-form .form .form-container textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
}
.contacts-form .form .consent {
  width: 48%;
}
.contacts-form .form button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: linear-gradient(to right, #fefc9e, #fdbfa3 79%);
  color: #6d31d0;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header-container .nav-bar ul {
    display: none;
  }
  .header-container .burger-icon {
    display: flex;
  }
  .header-container .burger-toggle:checked ~ .nav-bar ul {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    background: #6d31d0;
    width: 100%;
    text-align: center;
  }
  .header-container .burger-toggle:checked ~ .nav-bar ul li {
    padding: 10px 0;
  }
  .main-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 426px) {
  html {
    font-size: 11px;
  }
  .banner .services {
    text-align: center;
    gap: 10px;
  }
  .banner .banner-text {
    width: 100%;
  }
  .cities-img {
    flex-wrap: wrap;
  }
  .our-services {
    padding: 20px;
  }
  .our-services .main-cards {
    width: 100%;
  }
  .contacts-form .form .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 8px;
  }
  /*.banner {
    background-repeat: no-repeat;
  }*/
}/*# sourceMappingURL=style.css.map */